name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      target:
        description: "Куда деплоим?"
        required: true
        type: choice
        options:
          - testing
          - preprod
          - production

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/fastapi-app:${{ github.sha }}

  deploy-testing:
    runs-on: ubuntu-latest
    needs: build-image
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.target == 'testing' }}
    steps:
      - run: echo "Deploy to TESTING"

  deploy-preprod:
    runs-on: ubuntu-latest
    needs: build-image
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.target == 'preprod'
    steps:
      - run: echo "Deploy to PRESTABLE"

  deploy-production:
    runs-on: ubuntu-latest
    needs: build-image
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.target == 'production'
    steps:
      - run: echo "Deploy to PRODUCTION"

