on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs: 
  login-to-registry:
    runs-on: ubuntu-latest
    steps: 
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

  build-n-push-image: 
    runs-on: ubuntu-latest
    needs: login-to-registry 
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/fastapi-app:${{ env.SHORT_SHA }}

