name: build docker

on:
  workflow_dispatch:

jobs:
  start-deploy-pipeline:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Starting..."

  build-n-push-image:
    runs-on: ubuntu-latest
    needs: start-deploy-pipeline
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/fastapi-app:${{ github.sha }}
    
